APP_NAME=HR AI Agent Backend
APP_ENV=development
DATABASE_URL=sqlite:///./hr_ai_agent.db
OPENAI_API_KEY=openai_api_key_your_version
GEMINI_API_KEY=gemini_api_key_your_version
AI_PROVIDER=openai
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=your_email@example.com
EMAIL_PASSWORD=any_password
EMAIL_FROM=your_email@example.com
SECRET_KEY=any_secret_key
ACCESS_TAKEN_EXPIRE_MINUTES=60

